@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: var(--font-title);
  background: var(--color-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#__next {
  isolation: isolate;
}

@layer base {
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  @media (prefers-color-scheme: dark) {
    .system {
      @apply dark
    }
  }
}

@layer utilities {
  @supports (min-height: 100svh) {
    .min-h-screen {
      min-height: 100svh;
    }
  }
  @supports (max-height: 100dvh) {
    .max-h-screen {
      max-height: 100dvh;
    }
  }
}
